<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Example page</h1>

    <h2>GET comments</h2>
    <button id="get_list-button">Get list</button>
    <ul id="get_list-list"></ul>

    <h2>Change POST</h2>
    <input type="text" id="post-input" />
    <button id="post-button">Send to list</button>
    <ul id="post-list"></ul>

    <script>
      const removeAllChildNodes = (parent) => {
        while (parent.firstChild) {
          parent.removeChild(parent.firstChild);
        }
      };

      async function getRequest(url) {
        let response = await fetch(url).then((resp) => resp.json());
        console.log(response);
        return response;
      }

      document
        .getElementById("get_list-button")
        .addEventListener("click", () => {
          const res = getRequest("/comments");
          const list = document.getElementById("get_list-list");
          removeAllChildNodes(list);

          // TODO: #1 Issue with iteration
          for (const { user, comment } of res) {
            const listItem = document.createElement("li");
            const itemText = document.createTextNode(`${user}: ${comment}`);

            listItem.appendChild(itemText);

            list.appendChild(listItem);
          }
        });

      document.getElementById("post-button").addEventListener("click", () => {
        const inputValue = document.getElementById("post-input").value;

        // const allValuesWithSent = sendRequest("/post_item");

        const allValuesWithSent = {
          1: {
            text: "What",
          },
          2: {
            text: `${inputValue}`,
          },
        };

        const list = document.getElementById("post-list");
        removeAllChildNodes(list);

        Object.values(allValuesWithSent).forEach(({ name, text }) => {
          const listItem = document.createElement("li");
          const itemText = document.createTextNode(
            `${name} object, have ${text} value`
          );

          listItem.appendChild(itemText);

          list.appendChild(listItem);
        });
      });
    </script>
  </body>
</html>
